<% @page_title = "Add Admin" -%>
<% render :partial => "admin_subnav" %>
      <p>To add a new Admin simply complete the form below.</p>
      <%= render :partial => 'admin_form', :locals => {:admin => @admin} %>
