<% @page_title = "Articles" %><h1><%= short_text_date(@article.article_date) %> - <%= h @article.name %></h1><div id="news"><%= render :partial => 'navigation' %>  <% if @article.has_picture1? -%>    <%= thumbnail_tag(@article.picture1, :width => 100, :class => "image", :border => "0", :alt => h(@article.picture1.image_alt)) %>  <% end -%>  <strong><%= h(@article.summary).gsub(/\n/, "<br />")  %></strong>  <p><%= @article.body %></p>  <% tags = @article.tag_array -%>  <% unless tags.empty? -%>    <div class="category">(Within categories:<% for tag in tags -%>       <%= link_to(tag.humanize, :controller => 'article', :action => 'list', :tag => tag)%>    <% end %>)</div>  <% end -%>    <hr />        <%= link_to 'Go back', :action => 'list' %> to the articles.</div>