<% @page_title = @content_page.name %><% if @web_layout == "layout_1" %><%= render :partial => "layout1_content", :locals => {:content_page => @content_page} %><% end %><% if @web_layout == "layout_2" %><%= render :partial => "layout2_content", :locals => {:content_page => @content_page} %><% end %><% if @web_layout == "layout_3" %><%= render :partial => "layout3_content", :locals => {:content_page => @content_page} %><% end %>