<% @page_title = "Thank You" %><h1><%= @page_title %></h1><p>Thank you for taking the time to fill out the contact form. We will respond to your request as soon as possible.</p><p><%= link_to 'Go back', :action => 'index' %></p>